@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

main {
    background-color: rgb(195, 206, 211);
}


nav a {
    color: rgb(13, 13, 13);
    margin-right: 50px;
}

h2 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}


nav a:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f34242;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    padding: 15px;
    width: 105px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
button {
    position: absolute;
    right: 10px;
}

article {
  font-family: 'Caveat', cursive;
}