body {
    margin: 0;
    background-color: rgb(195, 206, 211);
}

a {
    text-decoration: none;
    color: rgb(13, 13, 13);
    margin-right: 50px;
}

header {
    display: flex;
    height: 130px;
    background-color: rgb(220, 229, 231);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
}


.logo img {
    width: 85%;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

h2 {
    margin-left: 10px;
    
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.product-container {
    margin: 10px;
    padding: 2px 16px;
    background-color: white;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container img {
    width: 235px;

}

nav a:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f34242;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    padding: 15px;
    width: 105px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
button {
    position: absolute;
    right: 10px;
}

article {
    margin: 10px;
}


fieldset {
    width: 37%;
}
